/* ==========================================================================
                          Reset Browser Defaults
   ========================================================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1em;
    -webkit-text-size-adjust: none;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==========================================================================
                          Setup CSS for Exam App
   ========================================================================== */

/************/
/*  Floats  */
/************/
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/************/
/*  Header  */
/************/
header {
    background: -moz-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
    background: -webkit-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
	background: -ms-linear-gradient(120deg, #a6c1ee 0%, #fbc2eb 100%);
    overflow: hidden;
    cursor: default;
    min-height: 3.5em;
    top: 0;
    left: 0;
    max-width: 100%;
}

header h4 {
    height: inherit;
    line-height: inherit;
    margin: 0px;
    position: relative;
}

/*********/
/*  Nav  */
/*********/


/***********/
/*  Body  */
/**********/
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body {
    line-height: 1.6em;
    -webkit-text-size-adjust: none;
    font-size: 20px;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

body, input {
    color: #000000;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 15pt;
    font-weight: 100;
    line-height: 1.6em;
}

input {
    margin: 10px;
    padding: 10px;
    cursor: default;
}

label {
    padding: 10px;
}

strong, b {
    font-weight: 600;
}

em, i {
    font-style: italic;
}

ul form-checkbox-item input, .form-radio-item input {

    height: 20px !important;

    width: 20px !important;

}

/*******************/
/*  h# Tags  */
/*******************/
h4 {
    font-size: 1.2em;
    padding: 1rem;
    margin: 0;
    color: black;
}


/*************/
/*  Article  */
/*************/

article {
    cursor: default;
}



/*************/
/*  Section  */
/*************/
.exam {
    max-width: 80%;
    margin: auto; 
    text-align: auto;
}

.non-exam {
    max-width: 100%;
    margin: auto;  
}

/************************/
/*  Radio & Checkboxes  */
/************************/
input[type=checkbox] {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 30px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 30px;
}


/****************/
/*  List Items  */
/****************/
ol, ul {
    margin-bottom: 10px;
}

ul, li {
    padding: 10px;
    margin: 10px;
    display: list-item;
    list-style-position: inside;
}

/*******************/
/*  Table Element  */
/*******************/


/************/
/*  Figure  */
/************/
figure, figcaption {
    padding: 0 2em;
    font-size: 15px;
    max-width: 80%;
}

/************/
/*  Button  */
/************/
button {
    font-size: 1em;
    padding: 1rem 2rem;
    background: -moz-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
    background: -webkit-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
	background: -ms-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
    margin: 1rem;
}

/***************/
/*  Textboxes  */
/***************/


/*************/
/*  Classes  */
/*************/
.flashCard {
  display: flex;
  flex-wrap: wrap;
}

/*********/
/*  IDs  */
/*********/


/*******************/
/**  Flash Cards  **/
/*******************/



/************/
/*  Footer  */
/************/
footer {
    background: -moz-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
    background: -webkit-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
	background: -ms-linear-gradient(120deg, #f2eca2 0%, #a6c1ee 100%);
    overflow: hidden;
    text-align: center;
    cursor: default;
    min-height: 3em;
    left: 0;
    padding-right: 50px;
    max-width: 100%;
}

/*********************/
/*  Mobile Friendly  */
/*********************/

@media screen and (max-width: 500px) {
    header {
        float: none;
        display: block;
        text-align: left;
    }

    table, th, td {
        border: 1px solid black;
    }

    td {
        text-align:left;
        font-size: 8px;
        padding: 0px;
    }

    .card {
        flex: 1 1 calc(50% - 2rem);
    }

    footer {
        float: none;
        display: block;
        text-align: left;
        Padding: 0px;
    }
}

@media screen and (max-width: 800px) {
    header {
        float: none;
        display: block;
        text-align: left;
    }

    .card {
        flex: 1 1 calc(33% - 2rem);
    }
    
    footer {
        float: none;
        display: block;
        text-align: left;
        padding-right: 20px; 
    }

}


